<div class="row">
    <h1>
        {{ $ctrl.project.title }}
        <span ng-if="$ctrl.project.done" class="glyphicon glyphicon-ok small">
        </span>
    </h1>

    <p class="lead">
        {{ $ctrl.project.description }}
    </p>
    <timer time="$ctrl.project.timeInSeconds" on-update-time="$ctrl.onUpdateTime(time)"></timer>
    <!-- Timer component -->
    <!--<timer [time]="project.timeInSeconds"-->
           <!--(onUpdateTime)="updateTime($event)"></timer>-->
</div>

<div class="row">
    <hr>
    <div>
        <p>&ensp;
            <button type="button" class="btn btn-default" ng-class="{'disabled': $ctrl._isLocked}" ng-click="$ctrl.clickEditProject()">
                Edit project
            </button>
            <button type="button" class="btn btn-danger" ng-class="{'disabled': $ctrl._isLocked}" ng-click="$ctrl.deleteProject()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete project
            </button>
        </p>
        <p>
            <input id="isDone" type="checkbox" ng-model="$ctrl.project.done" ng-click="$ctrl.setProjectDone($ctrl.project.done)" />
            <label for="isDone">Mark project as done</label>
        </p>
    </div>
</div>